<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
 -->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://data.fou-de-puzzle.com/.5/bebes-animaux-de-la-jungle-300-pieces--puzzle.44184-1.fs.jpg);">
  <div class="container">
    <h1>Safarent bring <strong>exotic animals</strong> to <strong>wonderfull people</strong>!</h1>
    <p>You can reserve when ever you want a beautiful exotic animal from other.</p>
    <a class="btn btn-primary" href="#">Reserve now</a>
  </div>
</div>
