<h1>Animals#index</h1>
<p>Find me in app/views/animals/index.html.erb</p>
<% @animals.each do |animal| %>
  <p><%= animal.name %></p>
  <%= link_to("get more infor", animal_path(animal)) %>
<% end %>
