.animal-show{
  margin-right:  auto !important;
  padding-left:  24px !important;
  margin-left:   auto !important;
  width:         auto !important;
  padding-right: 24px !important;
  max-width:     1080px !important;
  font:          arial;
}

.info-animal-show {
  width: 58.3333% !important;
}

.summary{
  border-bottom: 1px solid rgb(235, 235, 235) !important;
  }

.see-owner-profile > a {
  color:white;
  &:hover {
    text-decoration: none;
  }
}

