.booking-form {
  position: absolute;
  top: -270px;
  right: 10px;
  max-width: 40%;
  padding: 70px;
  color: white;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1528295674080-a70f6cbf4ff0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: cover;

}




// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .booking-form {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .booking-form {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .booking-form {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .booking-form {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .booking-form {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
