.navbar-home {
  position: fixed;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.logo-navbar {
  width: 40px;
}

.fas {
  font-size: 20px;
  padding: 5px;
  border: solid 1px;
  border-radius: 50%;
  margin-top: 5px;
  color: black;
}

